# Ignore everything
*
.DS_Store
!.gitignore
!README.md
!site
site/*
!site/modules
site/modules/*
!site/modules/Pvc
!site/modules/Pvc/*
!site/modules/Pvc/**/*
site/modules/Pvc/Twig
site/modules/Pvc/PvcRendererTwig.module
